@import url('https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i');
@import url('https://fonts.googleapis.com/css?family=Asap:400,400i,500,500i,600,600i,700,700i&display=swap');

html{
}

body{
	margin: 0;
}

h1 {
    margin: 0;
    font-weight: normal;
}

h2 {
    margin: 0;
    font-weight: normal;
}

ul {
    margin: 0 auto;
    padding: 0;
}

li {
    list-style: none;
}

.container {}

/*.................................................Header..........................................................................*/

.container__header {}

.header {
	min-height: 750px;
	background: url(../images/header/bg.jpg) no-repeat top center;
	background-size: cover;
	padding: 0.01%;
}

.container__fixed {
	width: 1170px;
	margin: 0 auto;
}

.container__layout {
    margin: 29px 0 0;
}

.layout {
	display: flex;
	justify-content: space-between;
}

.header__logo {
    margin: 2px 0;
}

.logo {}

.logo__link {}

.link {
	display: block;
	text-decoration: none;
	color: #000;
	font-family: 'Lato';
}

.link__logo-img {
	text-align: center;
}

.link__logo-title {
    margin: 3px 0;
    font-size: 14px;
    font-weight: 100;
    letter-spacing: 1px;
}

.link__logo-word {
	margin: 3px 0;
	font-size: 3.5px;
	text-align: center;
}

.logo__img {}

.header__menu {}

.menu {
    margin: 0;
    /* width: 460px; */
}

.menu__item {
    list-style: none;
    width: 96px;
    text-align: center;
    /* margin: 0 17px; */
}

.menu__item:last-child{
	margin-right: 41px;
}

.menu__link {
    text-decoration: none;
    color: #4d4d4d;
    text-transform: uppercase;
    font-family: "Myriad Pro";
}

.menu__link:hover {
	text-transform: unset;
}

.menu__link:hover:after {
	width: 40px;
    height: 2px;
    display: block;
    content: "";
    background: #4d4d4d;
    margin: 3px auto;
}
	
.header__luis-cover {
    margin: 8px 0 0;
}

.luis-cover {
    width: 100%;
}

.luis-cover__name-card {
	margin: 152px 0 0;
}

.name-card {
    font-family: "Myriad Pro";
}

.name-card__heading {
    height: 96px;
    margin-left: -4px;
    font-size: 90px;
    color: #4d4d4d;
}

.name-card__user-experience {
    font-size: 22px;
    color: #999;
    margin: 0px 0;
}

.name-card__contact-buttons {
    margin: 25px 0 0;
}

.contact-buttons {
	width: 342px;
}

.contact-buttons__know-more {
}

.contact-btn {
    display: block;
    text-decoration: none;
    color: #4d4d4d;
    width: 160px;
    height: 50px;
    border: #4d4d4d 1px solid;
    text-align: center;
    line-height: 53px;
    box-sizing: border-box;
    letter-spacing: 1px;
    transition: box-shadow 500ms ease-out;
    /* transition: background 500ms ease-out; */
}

.contact-btn:hover {
	border: none;
	background: #fff;
	box-shadow: 0 5px 10px rgba(0,0,0,0.3);
}

.contact-buttons__hire-me {}

.luis-cover__foto {}

.foto {}

/*.................................................Know-More........................................................................*/

.container__know-more {
    margin: 108px 0 126px 0;
}

.know-more {}

.know-more__know-img {}

.know-more__know-info {}

.know-info {}

.know-info__heading {
    margin: 70px 0 0 0;
}

.heading {
    font-family: "Asap", sans-serif;
    font-size: 46px;
    font-weight: bold;
    color: #7b7b7b;
    letter-spacing: 6px;
    line-height: 51px;
    text-align: center;
}

.heading_know-more {
	text-align: left;
}

.heading::before {
	display: block;
	text-align: center;
	content: "";
	width: 60px;
	height: 4px;
	background: #7a7a7a;
	margin: 0 auto 9px;
}

.heading_know-more::before {
	margin: 0 4px 9px;
}

.know-info__content {
    font-family: "Asap", sans-serif;
    font-size: 16px;
    font-weight: normal;
    width: 85%;
    line-height: 25px;
    color: #4d4d4d;
}

.know-info__contact-btn {
    margin: 35px 0 0 4px;
}

.contact-btn_dwnld-my-cv {
	width: 245px;
	font-family: "Asap", sans-serif;
	font-size: 16px;
}

/*.................................................Services........................................................................*/

.container__services {}

.services {
    background: #f6f6f6;
    height: 693px;
    padding: 0.01%;
}

.services__heading {
	/* width: 300px; */
	margin: 118px auto 0;
}

.services__pictures {}

.pictures {
}

.layout__blocks_6 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.pictures__picture {margin: 18px 0 0;}

.picture-item {
    width: 30%;
    margin: 36px 19px;
}

.pircture-item__picture {height: 86px;}

.picture {
    display: block;
    margin: 0 auto;
}

.picture-title {
    font-family: "Asap", sans-serif;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    color: #4d4d4d;
}

/*.................................................Skills........................................................................*/

.container__skills {}

.skills {}

.skills__heading {
    margin: 116px 0 0;
}

.skills__diagram {
    margin: 36px auto 125px;
    width: 1031px;
}

.diagram {
    background: firebrick;
    width: 1031px;
    height: 423px;
}

/*.................................................Portfolio........................................................................*/

.container__portfolio {}

.portfolio {
    background: #f6f6f6;
    padding: 0.01%;
    min-height: 1096px;
}

.portfolio__heading {
    margin: 126px 0 0;
}

.portfolio__slider {
    margin: 9px 0 0;
}

.slider {
}

.slider__slide {
    margin: 28px 0 0;
}

.slider__slide:first-child {
    /* margin-left: -11px; */
}

.slide {
    display: block;
    transition: box-shadow 500ms ease-out;
}

.slide:hover {
    box-shadow: 0 0 50px rgba(0,0,0,0.8);
}

.slide:hover:before {
    display: block;
    content: url(../images/portfolio/pointer.jpg);
    position: absolute;
}

.portfolio__load-button {
    margin: 23px 2px;
}

.load-button {
    margin: 0 504px;
    font-family: 'Asap', sans-serif;
    font-size: 16px;
    font-weight: 600;
    width: 190px;
}


/*................................................Testimonials......................................................................*/

.container__testimonials {margin: 0 0 122px;}

.testimonials {}

.testimonials__heading {
    margin: 126px 0 0;
}

.testimonials__article {margin: 49px auto 49px;width: 955px;}

.article {
    width: 100%;
    min-height: 349px;
    border: #212121 1px solid;
    box-sizing: border-box;
    padding: 81px 58px 27px;
}

.article__portrait-foto {
    margin: 0 0 0 62px;
}

.portrait-foto {}

.article__lettering {
    margin: 0 0 0 31px;
}

.lettering {
    font-family: 'Asap', sans-serif;
}

.lettering__let-title {
}

.let-title {
    font-size: 30px;
    color: #454545;
}

.lettering__inscription {}

.inscription {
    font-size: 12px;
    color: #454545;
}

.lettering__artcl-text {
    margin: 11px 0;
}

.artcl-text {
    font-size: 16px;
    text-transform: uppercase;
    word-spacing: 1px;
    line-height: 26.5px;
    color: #919191;
}

.article__article-controls {
    margin: 41px auto 0;
    width: 47px;
}

.article-controls {}

.article-controls__item {
    width: 13px;
    height: 13px;
    border: #212121 1px solid;
    box-sizing: border-box;
}

.article-controls__item_current {
    background: #212121;
}

/*................................................Results......................................................................*/

.container__results {}

.results {
    height: 302px;
    background: #f6f6f6;
    padding: 0.01%;
}

.results__results-layout {
    margin: 52px auto 0;
}

.results-layout {
    padding: 0.01%;
    width: 1059px;
}

.results-layout__result-item:first-child {
    margin: 0;
}

.results-layout__result-item:first-child .result-item .result-item__result-picture {
    margin: 0 auto 22px;
}

.results-layout__result-item {
    margin: 21px 0;
}

.result-item {
    font-family: 'Asap', sans-serif;
    text-align: center;
}

.result-item__result-picture {margin: 0 auto;width: 100px;height: 100px;}

.result-item__result-count {
    font-size: 30px;
    font-weight: 900;
}

.result-item__result-title {
    margin: 6px 0;
    font-size: 22px;
}

/*................................................Hello......................................................................*/

.container__hello {}

.hello {}

.hello__heading {}

.heading_hello {}

.hello__hello-form {}

.hello-form {}

.hello-form__name {}

.name {}

.hello-form__email {}

.email {}

.hello-form__message {}

.message {}

.hello-form__send {}

.send {}

.send__send-word {}

.send__send-arrow {}

.hello__hello-footer {}

.hello-footer {}

.hello-footer__sprite {}

.sprite {}

.hello-footer__all-right {}

.all-right {}

























